.main img {
	width: 100%;
}

body {
	background-color: #ffffff;
	margin: 10px;
	padding: 20px;
}

h2 {
	color: #333;
	font-family: 'Abel', sans-serif;
	font-size: 42px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	color: #14213D;
	font-family: 'Abel', sans-serif;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: #338;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 200;
}